<nav>
  <ul>
    <li class="logo"><a href="#"></a>Yellow Podcast</li>
    <li><a href="#"></a>SoundCloud</li>
    <li><a href="#"></a>Itunes</li>
  </ul>
  <div class="handle">
        <div class="menu-anchor"></div>
  </div>

</nav>
